:root {
    /* Define default color scheme as CSS variables */
    --background-color: #0B3D73;
    --body-color: #F8F8FF;
    --button-color: #007bff;
    --button-border-color: #04F0E8;
    --button-hover-color: #0056b3;
    --button-hover-border-color: #FFBA3E;
    --button-text-color: #F8F8FF;
    --game-div-background-color: #FE2A8B;
    --game-div-border-color: #FFBA3E;
    --game-container-background-color: #000000;
    --game-container-border-color: #04F0E8;
    --game-container-color: #F8F8FF;
    --game-title-background-color: #4B1E78;
    --game-title-border-color: #04F0E8;
    --game-title-color: #FFBA3E;
    --game-option-button-color: #7b00ff;
    --game-option-button-border-color: #04F0E8;
    --game-option-button-hover-color: #5600b3;
    --game-option-button-hover-border-color: #FFBA3E;
    --game-option-button-text-color: #F8F8FF;
    --game-option-title-background-color: #4B1E78;
    --game-option-title-border-color: #04F0E8;
    --game-option-title-color: #FFBA3E;
    --path-title-background-color: #4B1E78;
    --path-title-border-color: #04F0E8;
    --path-title-color: #FFBA3E;
    --scene-image-border-color: #F8F8FF;
    /* ... other variables as needed */
}
#achievementsList {
    background-color: var(--game-option-button-color);
    border: 5px solid var(--game-option-button-border-color);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80%;
    color: var(--game-option-button-text-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    margin: 10px auto;
}
#achievementsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 40px;
}
#achievementsTitle {
    background-color: var(--game-option-title-background-color);
    border: 5px solid var(--game-option-title-border-color);
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5px;
    width: 15%;
    color: var(--game-option-title-color);
    display: table;
}
#actionsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}
#actionTitle {
    background-color: var(--path-title-background-color);
    border: 5px solid var(--path-title-border-color);
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5px;
    width: 30%;
    color: var(--path-title-color);
    display: table;
}
#actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 80%;
}
body {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background-color);
    text-align: center;
    color: var(--body-color);
    padding: 20px;
}
#choices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#choicesSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}
#closeButtonDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
}
#eatFoodButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: 5px solid var(--button-border-color);
    border-radius: 5px;
    width: 40%;
    cursor: pointer;
}
#eatFoodButton:hover {
    background-color: var(--button-hover-color);
    border: 5px solid var(--button-hover-border-color);
    border-radius: 5px;
}
#foodSelection {
    display: flex;
    flex-direction: roe;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}
#foodSelectionModal {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--game-div-background-color);
    border: 5px solid var(--game-div-border-color);
    border-radius: 5px;
    padding: 20px;
    width: 80%;
}
#foodSelectionTitle {
    background-color: var(--game-title-background-color);
    border: 5px solid var(--game-title-border-color);
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    width: 40%;
    color: var(--game-title-color);
    display: table;
}
#gameDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--game-div-background-color);
    border: 5px solid var(--game-div-border-color);
    border-radius: 5px;
    padding: 20px;
    width: 80%;
}
#gameContainer {
    background-color: var(--game-container-background-color);
    padding: 20px;
    border: 5px solid var(--game-container-border-color);
    border-radius: 5px;
    width: 80%;
    color: var(--game-container-color);
}
#gameOptions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#gameOptionsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}
#gameTitle {
    background-color: var(--game-title-background-color);
    border: 5px solid var(--game-title-border-color);
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    width: 40%;
    color: var(--game-title-color);
    display: table;
}
#gameTimeDisplay {
    background-color: var(--game-title-background-color);
    border: 5px solid var(--game-title-border-color);
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;                                                            
    text-align: center;
    width: 40%;
    margin: 20px auto;
    color: var(--game-title-color);
    justify-content: center;
    align-items: center;
    align-content: center;
}
#inventoryList {
    background-color: var(--game-option-button-color);
    border: 5px solid var(--game-option-button-border-color);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 60%;
    color: var(--game-option-button-text-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    margin: 10px auto;
}
#inventorySection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 40px;
}
#inventoryTitle {
    background-color: var(--game-option-title-background-color);
    border: 5px solid var(--game-option-title-border-color);
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5px;
    width: 15%;
    color: var(--game-option-title-color);
    display: table;
}
#optionTitle {
    background-color: var(--game-option-title-background-color);
    border: 5px solid var(--game-option-title-border-color);
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5px;
    width: 30%;
    color: var(--game-option-title-color);
    display: table;
}
#pathTitle {
    background-color: var(--path-title-background-color);
    border: 5px solid var(--path-title-border-color);
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5px;
    width: 30%;
    color: var(--path-title-color);
    display: table;
}
#playerSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    margin-bottom: 20px;
}
#playerStats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    margin: 0 auto;
}
#playerStats p {
    background-color: var(--button-color);
    border: 5px solid var(--button-border-color);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 30%;
    color: var(--button-text-color);
    display: table;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 10px 20px;
}
#playerStatsTitle {
    background-color: var(--game-option-title-background-color);
    border: 5px solid var(--game-option-title-border-color);
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    width: 30%;
    color: var(--game-option-title-color);
    display: table;
    margin-bottom: -10px;
}
#sceneAct {
    text-align: center;
    margin-bottom: 40px;
}
#sceneImage {
    text-align: center;
    margin-bottom: 20px;
    width: 90%;
    margin: 0 auto;
}
#sceneImage img {
    max-width: 100%;
    height: auto;
    border: 5px solid var(--scene-image-border-color);
    border-radius: 5px;
}
#selectionSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    margin-bottom: 20px;
}
#statsOptions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 5px 5px;
    padding: 10px;
    width: 75%;
}
#storyText {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}
.actionButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: 5px solid var(--button-border-color);
    border-radius: 5px;
    width: 40%;
    cursor: pointer;
}
.actionButton:hover {
    background-color: var(--button-hover-color);
    border: 5px solid var(--button-hover-border-color);
    border-radius: 5px;
}
.categoryBanner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--game-option-title-background-color);
    border: 5px solid var(--game-option-title-border-color);
    border-radius: 5px;
    padding: 5px;
    margin: 5px 5px;
}
.categoryContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px 10px;
    margin: 5px 5px;
}
.choiceButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: 5px solid var(--button-border-color);
    border-radius: 5px;
    width: 40%;
    cursor: pointer;
}
.choiceButton:hover {
    background-color: var(--button-hover-color);
    border: 5px solid var(--button-hover-border-color);
    border-radius: 5px;
}
.closeButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: 5px solid var(--button-border-color);
    border-radius: 5px;
    width: 80%;
    cursor: pointer;
}
.closeButton:hover {
    background-color: var(--button-hover-color);
    border: 5px solid var(--button-hover-border-color);
    border-radius: 5px;
}
.eatFoodButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: 5px solid var(--button-border-color);
    border-radius: 5px;
    width: 40%;
    cursor: pointer;
}
.eatFoodButton:hover {
    background-color: var(--button-hover-color);
    border: 5px solid var(--button-hover-border-color);
    border-radius: 5px;
}
.eatFoodButtonDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
}
.gameOptionsButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--game-option-button-color);
    color: var(--game-option-button-text-color);
    border: 5px solid var(--game-option-button-border-color);
    border-radius: 5px;
    width: 40%;
    cursor: pointer;
}
.gameOptionsButton:hover {
    background-color: var(--game-option-button-hover-color);
    border: 5px solid var(--game-option-button-hover-border-color);
    border-radius: 5px;
}
.itemList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    margin: -5px 5px;
}
.inventoryListItem {
    background-color: var(--game-option-title-background-color);
    border: 5px solid var(--game-option-title-border-color);
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5px;
    width: 30%;
    color: var(--game-option-title-color);
    display: table;
    padding: 10px;
    margin: 5px 5px;
}