body {
    /* background-color: #f9f9fa; */
    background-image: url('../img/Gifs/scriptures.gif');
    background-size: cover;
    margin: auto;
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.header {
    border: 5px solid #04F0E8;
    border-radius: 5px;
    background-color: #4B1E78;
    color: #FE2A8B;
    width: 15%;
    height: 10%;
    text-align: center;
    display: table;
    justify-content: center;
    align-items: center;
    margin: auto 5%;
}

.header-container {
    display: flex;
    justify-content: space-between; /* This spreads out the child elements */
    align-items: center;
    width: 100%; /* Use the full width of the container */
}

.image {
    border: 5px solid #FFFFFF;
    border-radius: 5px;
    /*background-color: #4B1E78;
    color: #FE2A8B;*/
    width: auto;
    height: 20%;
    text-align: center;
    display: table;
    justify-content: center;
    align-items: center;
    margin: 1% auto;
}

.loader {
    display: none; /* remove this line and in index.js make width 500, height 300 for splash, and change the image link above to the background.png in img/Background */
    border: 5px solid rgba(18, 65, 145, 255);
    border-radius: 50%;
    border-top: 5px solid #ffffff;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
    margin: auto;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    position: fixed;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.center {
    border: none !important;
    text-align: center;
}